
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 8vw;
}

p {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

body {
    width: 100%;
}

    .title {
        width: 100%;
        height: 100vh;
        background-image: url('images/background-header.jpeg');
        background-size: cover;
        box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .5)
        
    }

        #title-content {
            display: flex;
            border: 3px dashed lime;
            width: 50vw;
            height: 60vh;
            padding: 20vh 40vw 20vh 10vw;
        }

            #tiles {
                display: grid;
                grid-template: 1fr 1fr / 1fr 1fr 1fr;
                gap: 2vmin;
                width: 50vw;
                height: 45vh;
                border: 3px dashed indianred;
            }

                .black-tile {
                    background-color: black;
                    opacity: .9;
                    border-radius: 45px;
                    box-shadow: inset 2em 1em 3em rgb(53, 52, 52);
                }

                .orange-tile {
                    background-color: orange;
                    opacity: .9;
                    border-radius: 45px;
                    box-shadow: inset 2em 1em 3em rgb(167, 110, 4);
                }

            #title-content h1 {
                color: white;
                border: fuchsia 3px dashed;
            }