
@font-face {
    font-family: 'Bamboo';
    src: url('../portfolio/Bamboo\ Regular.ttf') format('truetype');
  }




h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 6vw;
    font-weight: 700;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 4vw;
}

                    @media only screen and (max-width: 1300px) {
                        h2 {
                            font-size: 8vw;
                        }
                    }

                    @media only screen and (max-width: 650px) {
                        h2 {
                            font-size: 10vw;
                        }
                    }

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    font-weight: 700;
}

h4 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    color: white;
}

b {
    font-weight: 700;
}

body {
    width: 100%;
}


    header {
        height: 100px;
        position: fixed;
        left: 50%;
        right: 0;
        z-index: 999;
        background-image: url('images/background-navbar.jpeg');
        box-shadow: inset 2em 1em 3em rgb(167, 110, 4), inset 0 0 0 100vmax rgba(231, 98, 9, 0.808);
        opacity: .9;
        border-bottom: ridge 4px rgb(31, 30, 30);
        border-left: ridge 3px rgb(151, 144, 144);
        border-bottom-left-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

        header nav {
            height: 30%;
            width: 70%;
            
        }

        header nav ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            font-family: 'Roboto Mono', monospace;
            font-size: 1.2em;
        }

            nav a:hover {
                color: white;
            }


                    @media only screen and (max-width: 1300px) {

                        header {
                            position: sticky;
                            top: 0;
                            border-bottom-left-radius: 0;
                        }

                        header nav {
                            width: 90%;
                            height: 90%;
                            align-items: center;
                        }

                        header nav ul {
                            display: flex;
                            align-items: center;
                            height: 100%;
                        }
                    } 
                    
                    @media only screen and (max-width: 600px) {
                        header nav ul {
                            display: grid;
                            grid-template: 1fr 1fr / 1fr 1fr;
                        }

                        header nav ul li {
                            justify-self: center;
                            margin: .5rem auto;
                        }
                    }

    .title {
        width: 100vw;
        height: 100vh;
        background-image: url('images/background-header.jpeg');
        background-size: cover;
        background-position:top;
        box-shadow: inset 0 0 0 100vmax rgba(240, 236, 236, 0.4);
        
    }

        #title-content {
            display: flex;
            width: 60vw;
            height: 40vh;
            padding: 30vh 30vw 30vh 10vw;
        }

            #tiles {
                display: grid;
                grid-template: 1fr 1fr / 1fr 1fr 1fr;
                gap: 2vmin;
                width: 40vmin;
                height: 40vmin;

            }

                .black-tile {
                    background-color: black;
                    opacity: .9;
                    border-radius: 25%;
                    box-shadow: inset 2em 1em 3em rgb(53, 52, 52);
                    display: flex;
                    flex: 1 1 auto;
                }

                .orange-tile {
                    background-color: #F76A19;
                    opacity: .95;
                    border-radius: 25%;
                    box-shadow: inset 2em 1em 3em rgb(167, 110, 4);
                    display: flex;
                    flex: 1 1 auto;
                }
            
            #title-content .heading {
                align-self: flex-end;
                color: black;
                line-height: 5vw;
                padding-left: 1vw;
            }
         @media only screen and (max-width: 1300px) {

            .title {
                padding: 5vw;
            }

             #title-content {
                 display: flex;
                 flex-direction:column-reverse;
                align-self: flex-start;
             }

            #title-content .heading {
                align-self: flex-start;
            }
         }

         @media only screen and (max-width: 800px) {
             h1 {
                 font-size: 8vw;
                 line-height: 6.5vw;
             }
         }

         @media only screen and (max-width: 500px) {
             h1 {
                 font-size: 10vw;
                 line-height: 8vw;
             }
         }


    #info {
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-top: 200px;

    }

        #info h2 {
            align-self: flex-start;
            padding: 40px;
        }

        #info-container {
            width: 80%;
            height: fit-content;
            align-self: flex-end;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            display: grid;
            grid-template: 1fr / 1fr 1fr;
            gap: 5vw;
            padding: 200px 0px 0px auto;
            background-color: #F76A19;
            box-shadow: inset 4em 2em 4em rgb(209, 97, 4);
            
        }
            #bio {
                margin: 3rem auto 3rem 3rem;
            }

            #bio p {
                font-size: 2rem;
                color: white;
                padding-top: 3rem;
            }

            #portrait {
                background-image: url('images/portrait-1.jpeg');
                background-size: cover;
                box-shadow: 40px -60px rgb(31, 30, 30, .1), 40px -60px rgb(25,247,246,.95);
                border-radius: 50px;
                width: 80%;
                height: auto;
                margin-bottom: -40px;
                padding-right: 40px;
                margin-top: 20px;
            }

                @media only screen and (max-width: 1300px) {
                    #info-container {
                         grid-template: 1fr 1fr / 1fr;
                    }

                    #bio {
                        margin: 3rem;
                    }

                    #portrait {
                        margin-left: -60px;
                        background-position-x: right;
                    }

                }




    #work-samples {
        width: 100%;
        padding-top: 200px;
    }

        #work-samples h2 {
            text-align: end;
            padding: 40px;
        }

        #samples {
            width: 80%;
            height: auto;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            display: flex;
            flex-direction: column;
            background-color: #00ABAA;
            box-shadow: inset 4em 2em 4em rgb(9, 146, 151);
            padding: 5vmin;
        }
        
            .sample {
                width: 90%;
                height: 50vh;
                display: flex;
                justify-items: space-between;
            }

            #splatter  {
                    flex-direction: row-reverse;
                }

                .sample-info {
                    padding: 3rem;
                    margin: 0 3rem;
                    color: white;
                }

                .sample-image {
                    width: 100%;
                    height: auto;
                    background-size: cover;
                    border-radius: 50px;
                }

                    #dharma-bums .sample-image {
                        background-image: url("images/dharma-bums.png");
                        box-shadow: 40px -60px rgb(25,247,246,.95);
                    }

                    #splatter .sample-image  {
                        background-image: url("images/splatter.png");
                        box-shadow: -40px -60px rgb(247,106,25,.85);
                    }

                    #wu-name .sample-image  {
                        background-image: url("images/wu-logo.jpeg");
                        box-shadow: 40px 60px rgba(78, 75, 73, 0.85);
                    }

                .sample-info {
                    padding: 2rem;
                }

                .sample-info a {
                    color: white;
                }

                .sample-info a:hover {
                    color: #F76A19;
                }

            #wu-name-generator {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: auto;
            }

                #wu-form {
                    font-family: 'Roboto Mono', monospace;
                    padding: 4vw 2vw 2vw 2vw;
                    line-height: 2rem;
                    width: 80%;
                    display: grid;
                    grid-template: 1fr 1fr 2fr / 1fr;
                    row-gap: 0vh;
                    align-items: center;
                        }

                        input {
                            line-height: .5rem;
                            width: 25%;
                        }

                        #form-row1 {
                            grid-area: 1 / 1 / 1 / 1;
                            display: flex;
                            justify-content: center;
                        }

                        #form-row2 {
                            grid-area: 2 / 1 / 2 / 1;
                            display: flex;
                            justify-content: center;
                        }

                        #form-row3 {
                            grid-area: 3 / 1 / 3 / 1;
                            display: flex;
                            justify-content: center;
                        }

                        #wu-button {
                            height: 4rem;
                            font-family: 'Roboto Mono', monospace;
                            font-size: 1.5vw;
                            border-radius: 15px;
                            background-color: rgb(236, 236, 13);
                            box-shadow: inset 1em 2em 4em rgb(26, 31, 1, .2);
                            padding: 0 1vw;

                        }

                        #wu-name-dispenser {
                            color: black;
                            font-family: 'Bamboo';
                            text-align: center;
                            font-size: 2.5vw;
                        }

                    @media only screen and (max-width: 1300px) {
                        
                        .sample {
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                        }

                            #splatter  {
                                flex-direction: column;
                            }

                            .sample-image {
                                width: auto;
                                height: 40vw;
                            }

                            .sample-info {
                                margin: 0;
                                height: 40vw;
                            }

                                .sample-info h3 {
                                    font-size: 6vw;
                                    
                                }

                                .sample-info p {
                                    font-size: 4vw;
                                }
                        
                        #wu-name-dispenser {
                            font-size: 3.5vw;
                        }
                    }    

                    @media only screen and (max-width: 850px) {
                       #wu-button {
                           font-size: 3vw;
                       }
                       
                        #wu-name-dispenser {
                            font-size: 5vw;
                        }

                        input {
                            width: 50%;
                        }
                        
                        #form-row1 {
                            flex-direction: column;
                            
                        }
                        #wu-form {
                            padding-top: 8vw;
                            grid-template: 2fr 1fr 1fr / 1fr;
                        }
                        #form-row2 {
                            justify-content: flex-start;
                        }
                    }

                    @media only screen and (max-width: 500px) {
                        .sample-info {
                            margin: 0;
                            height: 40vw;
                            width: 90%
                        }

                            .sample-info h3 {
                                font-size: 8vw;
                                
                            }

                            .sample-info p {
                                font-size: 6vw;
                                z-index: 40;
                            }

                            #splatter .sample-image  {
                                box-shadow: -40px -30px rgb(247,106,25,.85);
                            }

                            #wu-form {
                                padding-top: 16vw;
                            }
                    }



    #education {
        width: 100vw;
        height: 100vh;
        padding-top: 200px;
        display: flex;
        flex-direction: column;

    }

        #education h2 {
            padding: 40px;
        }

        #education-container {
            width: 80%;
            height: 60%;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            padding: 10px;
            background-color: #63605e;
            box-shadow: inset 4em 2em 4em rgb(78, 77, 76);
            display: flex;
            flex-direction:column;
            align-self: flex-end;
            justify-content: center;
            align-items: center;
        }

            #programs {
                display: grid;
                grid-template: 1fr 1fr / 1fr 1fr 1fr;
                grid-auto-flow : column;
                row-gap: -2vh;
                column-gap: 5vw;
            }

            .program-image {
                display: flex;
                align-self: flex-end;
                justify-content: center;
            }

              
            .program {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 auto auto auto;
                padding-top: 10px;
            }

            #course-description {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20vh;
                padding-top: 5vh;
            }
                    
                #codecademy-description {
                    display: none;
                }

                #crecomm-description {
                    display: none;
                }

                #electrical-description {
                    display: none;
                }

                @media only screen and (max-width: 1300px) {
                    #programs {
                        grid-template: repeat(6, 1fr) / 1fr;
                    }

                    #education-container {
                        height: 100%;
                    }
                }

                @media only screen and (max-width: 1000px) {
                    #course-description p {
                        font-size: 3vw;
                        text-align: center;
                    }
                }

                @media only screen and (max-width: 600px) {
                    #course-description p {
                        font-size: 5vw;
                    }
                }


    #contact {
        width: 100vw;
        height: 100vh;
        padding-top: 200px;
        display: flex;
        flex-direction: column;
    }

        #contact h2 {
            padding: 40px;
            align-self: flex-end;
        }

        #contact-container {
            width: 80%;
            height: auto;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            padding: 10px;
            background-color: rgb(25,247,246,.95);
            box-shadow: inset 4em 2em 4em rgb(73, 228, 255);
            display: flex;
            flex-direction:column;
            align-self: flex-start;
            justify-content: center;
            align-items: center;
        }

            #contact p {
                color: black;
                margin: 1.5rem auto;
            }

            #contact form {
                font-family: 'Roboto Mono', monospace;
                height: 90%;
                width: 70%;
                display: grid;
                grid-template: 1fr 4fr / 1fr 1fr;
                grid-auto-flow: column;
            }

                #client-name {
                    grid-area: 1 / 1 / 1 / 1;
                    display: flex;
                    align-items: flex-start;
                }

                #client-email {
                    grid-area: 1 / 2 / 1 / 2;
                    display: flex;
                    align-items: flex-start;
                }

                    input {
                        width: 80%
                    }

                #client-message {
                    grid-area: 2 / 1 / 2 / 2;
                    display: flex;
                    align-items: flex-start;
                    width: 200%;
                }
                    #message {
                        width: 100%;
                    }

                @media only screen and (max-width: 1000px) {
                    
                    #contact-container {
                        height: auto;
                    }

                        #contact p {
                            font-size: 3vw;
                            text-align: center;
                        }

                        #contact form {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-start;
                            width: 90%;
                            padding: 5vw;
                        }

                            #client-name {
                                width: 100%;
                                flex-direction: column;
                                align-items: center;
                            }

                            #client-email {
                                width: 100%;
                                flex-direction: column;
                                align-items: center;
                            }

                            #client-message {
                                width: 100%;
                                flex-direction: column;
                                align-items: center;
                            }

                }

                @media only screen and (max-width: 700px) {
                    #contact p {
                        font-size: 4vw;
                    }
                }

                @media only screen and (max-width: 500px) {
                    #contact p {
                        font-size: 5vw;
                    }
                }

    footer {
        height: 5vmax;
        width: 100%;
        background-color: #63605e;
        box-shadow: inset 4em 2em 4em rgb(78, 77, 76);
        opacity: .9;
        border-top: ridge 4px rgb(31, 30, 30);
        display: flex;
        align-items: center;
        
    }

        footer p {
            font-family: 'Roboto Mono', monospace;
            margin: auto auto auto 5vw;
            font-size: 1rem;
        }